/* ================================================================================= */
/*
* Overall info of colors and fonts
*
* @Colors:
*		- #fff  - White
*		- #323232  - Dark color same as black
*		- #F7C463 - Accent color
*		- #FFF7EB - Background color
*		- #FEE7C3 - Footer Background color


* @Fonts:
*		- 'EB Garamond', serif: 400 (Regular) - Heading font
*		- 'Poppins', sans-serif: 200 (Extra light) - Paragraph font
*		- 'Poppins' 500 (Medium) - Sub headings font
*/
/* ================================================================================= */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #323232;
  border-radius: 20px;
  border: 0;
}





.big-title {
  margin-top: 10rem;
}

.big-title h1 {
  font-size: 75px;
  margin: 0 auto;
}


h1,
h2,
h4,
h5 {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

h1 {
  font-size: 45px;
  width: 60%;
  text-align: center;
}

h2 {
  font-size: 60px;
  text-align: left;
}

p {
  color: #323232;
  font-weight: 200;
  font-size: 14px;
}



button {
  font-size: 12px;
  font-weight: 500;
  background-color: #F7C463;
  border: 0;
  padding: 0.5rem 2rem;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25));
  transition: 0.2s all ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #deac4f;
}


a {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  color: #323232;
  text-decoration: none;
  transition: 0.2s color ease-in-out;
}

a:hover {
  color: #F7C463;
}



ul {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin: 0 0.5rem;
  padding: 0.5rem;
}

li:hover,
li:hover a,
li:hover span {
  cursor: pointer;
  color: #F7C463;
}

li span {
  transition: 0.2s color ease-in-out;
}



body {
  margin-top: 6rem;
  background-color: #FFF7EB;
}


header {
  width: 100%;
  height: 85vh;
}

main {
  padding: 4rem 0;
  padding-bottom: 0;
}


section {
  margin: 10rem 0;
  padding: 2rem 0;
}

footer {
  width: 100%;
  background-color: #000000;
}





.wrapper {
  padding: 2rem 4rem;
  padding-top: 0;
}


.top-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 4rem;
  background: #FFF7EB;
  z-index: 99;
}

.top-nav nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top-nav nav a {
  font-size: 16px;
}

.top-nav .logo {
  margin: 0 5rem;
}

.top-nav .logo img {
  width: 65px;
  border-radius: 20rem;
}

.top-nav .left-nav ul:first-child li {
  padding-left: 0;
  margin-left: 0;
  opacity: 0;
}

.top-nav .left-nav ul:first-child li span:hover {
  cursor: unset;
}

.top-nav .right-nav ul:last-child li {
  padding-right: 0;
  margin-right: 0;
}


.top-nav .right-nav .cart-container {
  position: absolute;
  right: 4rem;
  top: 4rem;
  width: 195px;
  height: 235px;
  background-color: #fff;
}

.mobile-nav {
  display: none;
}



section .title {
  display: flex;
}

section .title.flex--row h2 {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

section .title.flex--column h2 {
  margin-bottom: 2rem;
}


section .paragraph {
  width: 45%;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.015em;
}

section .paragraph h3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.065em;
  color: #F7C463;
  margin-bottom: 0.5rem;
}



.btn-top {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  width: 40px;
  height: 40px;
  padding: 1rem;
  background-color: #F7C463;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.2s all ease-in-out;
}
.btn-top:hover {
  cursor: pointer;
  background-color: #deac4f;
}



.footer-main {
  background-color: #FEE7C3;
  display: flex;
  justify-content: flex-start;
  padding: 3rem 4rem;
  height: 275px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

.footer-main div {
  width: 25%;
}

.footer-main div h5 {
  font-size: 25px;
  line-height: 33px;
  margin-bottom: 10px;
}

.footer-main div ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-main div ul li {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 3px;
  margin-left: 0;
}

.footer-main div ul li a,
.footer-main div ul li span,
.footer-main div ul li {
  font-size: 14px;
  font-weight: 400;
  font-family: 'EB Garamond', serif;
}


.footer-main .socials {
  display: block;
}
.footer-main .socials ul {
  display: inline-block;
}
.footer-main .socials ul li {
  display: contents;
  margin-right: 1rem;
}
.footer-main .socials ul li a img{
  width: 8%;
}


.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #323232;
  background-color: #C0A376;
}

.footer-copyright p {
  font-weight: 300;
  font-size: 11px;
}



/* ===================================================== */
/* Custom classes designs */
.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.hide {
  display: none;
}


.btn {
  background-color: #F7C463;
  border: 0;
  padding: 0.7rem 2rem;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25));
  transition: 0.2s all ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: #d5a956;
}

.btn a {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
}


li.active a {
  color: #F7C463;
  text-decoration: underline;
}



.flex--column {
  flex-direction: column;
  align-items: center;
}

.flex--row {
  flex-direction: row;
}


.image {
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s all ease;
}

.image img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* ===================================================== */









/* =============================================================================================================== */
/* For tablets */
@media (min-width: 768px) {}




/* =============================================================================================================== */
/* for mobile and Down */
@media (max-width: 446px) {
  .hide-for-mobile {
    display: none;
  }

  .big-title {
    margin-top: 0;
  }

  .big-title h1 {
    font-size: 45px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 12px;
  }


  a {
    font-size: 14px;
  }

  button {
    font-size: 9px;
    padding: 0.5rem 1rem;
  }

  section {
    margin: 0;
    padding: 2rem 0;
  }

  section .paragraph {
    width: 100%;
  }

  .mobile-nav {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff7eb;
    z-index: 95;
    padding: 0;
    transform: translateX(-100%);
    transition: 0.6s all ease-in-out;
  }

  .mobile-nav.active {
    transform: translateX(0);
  }

  .mobile-nav ul {
    display: flex;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-nav ul li {
    display: block;
    padding: 2rem;
  }

  .mobile-nav ul li a {
    font-size: 32px;
  }



  .top-nav {
    padding: 1rem 1rem;
  }

  .top-nav .logo img {
    width: 47px;
  }

  .top-nav .left-nav ul:first-child li {
    opacity: 1;
  }

  .top-nav .left-nav ul:first-child li span:hover {
    cursor: pointer;
  }




  main {
    padding: 0;
  }


  .wrapper {
    padding: 1rem;
  }


  header {
    height: 55vh;
  }

  header .hero-text p {
    font-size: 9px;
    margin-bottom: 10px;
  }

  header .hero-text h1 {
    margin-bottom: 35px;
  }


    .btn-top {
      right: 1rem;
      bottom: 1rem;
      width: 40px;
      height: 40px;
    }


  .footer-main {
    height: auto;
    padding: 2rem 1rem;
    flex-direction: column;
  }

  .footer-main div {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .footer-main div h5 {
    margin-bottom: 4px;
  }
}